<section class="wrapper">
  <h3>
    Login
    <span>or <%= link_to "Sign Up", new_account_path %></span>
  </h3>
  <%= form_tag sessions_path do |form| %>
    <p>
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </p>
    <p>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </p>
    <p><%= submit_tag "Login" %></p>
  <% end %>
</section>