<% content_for :subtitle do %>
  Call someone from <%= @endpoint.address %>
<% end %>

<section class="wrapper ptop">
  <%= form_for [@endpoint, @call] do |call| %>
    <p>
      <%= call.label :recipient_address, 'Number to call' %>
      <%= call.text_field :recipient_address %>
    </p>
    <p>
      <%= call.submit "Call" %>
      or <%= link_to 'go back', account_path(current_account) %>
    </p>
  <% end %>
</section>