<% content_for :subtitle do %>
  Add a new endpoint
<% end %>

<section class="wrapper ptop">
  <%= form_for @endpoint do |endpoint| %>
    <p>
      <%= endpoint.label :address, "Address (eg. sip:joe@example.com)" %>
      <%= endpoint.text_field :address %>
    </p>
    <p>
      <%= endpoint.submit "Add" %>
      or <%= link_to 'go back', account_path(current_account) %>
    </p>
  <% end %>
</section>