<h2>Dial Somebody</h2>

<p><%= flash[:notice] %></p>

<%= form_tag dials_path do %>

    <p>TO: <%= text_field_tag :to, "sip:kalv@213.192.59.75" %></p>
    <P>FROM: <%= text_field_tag :from, "sip:usera@46.137.85.52" %></P>
    <P><%= submit_tag "Dial" %></P>

<% end %>