<!DOCTYPE html>
<html>
<head>
  <title>OpenVoice2</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Openvoice</h1>

<% if logged_in? %>
<p><%= current_account.email %></p>
<% end %>

<%= render :partial => "shared/notices" %>

<%= yield %>

</body>
</html>
