<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <title>OpenVoice</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application" %>

    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body lang="en">

    <header>
      <% if logged_in? %>
        <div id="session-info" class="clearfix">
          <p>Logged in as <strong><%= current_account.email %></strong></p>
          <%= button_to "Logout", session_path(current_account), :method => "delete" %>
        </div>
      <% end %>
      <div class="wrapper">
        <h1>OpenVoice</h1>
        <% if logged_in? %>
        <h3 id="ov-address">Your address is <span id="address"><%= current_account.address %></span></h3>
        <% if current_account.number %>
        <h3 id="ov-number">Your number is <span id="number"><%= current_account.number %></span></h3>
        <% end %>
        <% end %>
        <h2 id="subtitle"><%= yield :subtitle %></h2>
        <%= render :partial => "shared/notices" %>
      </div>
    </header>

    <article id="content">
      <%= yield %>
    </article>

    <%= javascript_include_tag "application" %>
  </body>
</html>