<h2>Sign Up</h2>

<%= form_for @account do |form| %>

  <P>
    <%= form.label :email %><br/>
    <%= form.text_field :email %>
  </P>

  <p>
    <%= form.label :username %><br/>
    <%= form.text_field :username %>
  </p>

  <P>
    <%= form.label :password %><br/>
    <%= form.password_field :password %>
  </P>

  <p>
    <%= form.label :password_confirmation %><br/>
    <%= form.password_field :password_confirmation %>
  </p>

  <P><%= form.submit "Sign Up" %></P>
<% end %>