<h2>My account page</h2>

<h3>Your number is: <span id="number"><%= current_account.number %></span></h3>

<%= link_to 'Add a new endpoint', new_endpoint_path %>

<ul id="endpoints">
<% current_account.endpoints.each do |endpoint| %>
  <%= content_tag_for :li, endpoint do %>
    <strong><%= endpoint.address %></strong>
    <%= link_to 'Make a Call', new_endpoint_call_path(endpoint) %>
    <%= button_to 'Delete', endpoint, :method => 'delete' %>
  <% end %>
<% end %>
</ul>