<% content_for :subtitle do %>
  Account
<% end %>

<section class="wrapper">
  <h3>Preferences</h3>

  <%= form_for @account do |f| %>
    <%= f.label :parallel_dial, "call all endpoints in parallel" %>
    <%= f.check_box :parallel_dial %>
    <%= f.submit "Update" %>
  <% end %>
</section>

<section class="wrapper">
  <h3>My endpoints</h3>

  <% if current_account.endpoints.present? %>
    <ul id="endpoints">
    <% current_account.endpoints.each do |endpoint| %>
      <%= content_tag_for :li, endpoint, :class => "clearfix" do %>
        <p><%= endpoint.address %></p>
        <%= link_to 'Make a Call', new_endpoint_call_path(endpoint) %>
        <%= button_to 'Delete', endpoint, :method => 'delete' %>
      <% end %>
    <% end %>
    </ul>
  <% end %>
  <p><%= link_to 'Add a new endpoint', new_endpoint_path %></p>
</section>

<section class="wrapper" id="record-greeting">
  <h3>Account greeting</h3>
  <% if current_account.greeting_path.present? %>
    <audio controls="controls" id="account-greeting">
      <source src="<%= current_account.greeting_path %>" type="audio/wav" />
      Your browser does not support the audio element.
    </audio>
  <% end %>

  <% if current_account.endpoints.present?  %>
    <p><%= button_to "Record", recordings_path %></p>
  <% end %>
</section>
